# Common
.DS_Store
.env.local
.env.*.local
*.log

# Backend (Go)
backend/api
backend/api.exe
backend/vendor/

# Frontend (Next.js)
frontend/.next/
frontend/node_modules/
frontend/.env.local


# Local Storage
storage/
